# Import library & Connect to databases

In [2]:
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
lab3_s = 'Driver={ODBC Driver 18 for SQL Server};Server=tcp:serverz.database.windows.net,1433;Database=DB_LAB03;Uid=tendangnhap;Pwd=Matkhau@123;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
assgmt1_s = 'Driver={ODBC Driver 18 for SQL Server};Server=tcp:serverz.database.windows.net,1433;Database=ASSIGNMENT_01;Uid=tendangnhap;Pwd=Matkhau@123;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'

## Connect to the database
conn_lab3 = pyodbc.connect(lab3_s)
cursor_lab3 = conn_lab3.cursor()

conn_assgmt1 = pyodbc.connect(assgmt1_s)
cursor_assgmt1 = conn_assgmt1.cursor()

# Queries

## 1
Problem 1: Find the total number of crimes recorded in the CRIME table.

In [4]:
# Read q1.sql
with open('./SQL/q1.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/1.csv', index=False)
print(df)

<ipython-input-4-31b6cf45f213>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

   total_Crime
0      8068562

## 2
Problem 2: List community areas with per capita income less than 11000.

In [5]:
# Read q2.sql
with open('./SQL/q2.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/2.csv', index=False)
print(df)

  COMMUNITY_AREA_NAME  Per_Capita_Income
0  West Garfield Park              10934
1      South Lawndale              10402
2         Fuller Park              10432
3           Riverdale               8201

<ipython-input-5-c47136c9715a>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

## 3
Problem 3: List all case numbers for crimes involving minors?

In [5]:
# Read q3.sql
with open('./SQL/q3.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/3.csv', index=False)
print(df)

<ipython-input-5-06b165952e95>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

      Case_Number                                        Description
0         G023284                             MINOR MISREPRESENT AGE
1         G039724  AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...
2         G048693  AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR IN...
3         G048567  AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR IN...
4         G046709  AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR IN...
...           ...                                                ...
67529    JF169148  PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / ...
67530    JF169097  PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / ...
67531    JF169248  AGGRAVATED - HANDS, FISTS, FEET, NO / MINOR IN...
67532    JF169309  PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / ...
67533    JF169661  PROTECTED EMPLOYEE - HANDS, FISTS, FEET, NO / ...

[67534 rows x 2 columns]

## 4
Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [6]:
# Read q4.sql
with open('./SQL/q4.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/4.csv', index=False)
print(df)

<ipython-input-6-701ba6484a36>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

     Case_Number                 Description Primary_Type
0        G047076  CHILD ABDUCTION / STRANGER   KIDNAPPING
1        G049973  CHILD ABDUCTION / STRANGER   KIDNAPPING
2        G053523  CHILD ABDUCTION / STRANGER   KIDNAPPING
3        G053218  CHILD ABDUCTION / STRANGER   KIDNAPPING
4        G053248  CHILD ABDUCTION / STRANGER   KIDNAPPING
...          ...                         ...          ...
2583    JF501161  CHILD ABDUCTION / STRANGER   KIDNAPPING
2584    JF501285  CHILD ABDUCTION / STRANGER   KIDNAPPING
2585    JF519025  CHILD ABDUCTION / STRANGER   KIDNAPPING
2586    JH118852  CHILD ABDUCTION / STRANGER   KIDNAPPING
2587    JH125436  CHILD ABDUCTION / STRANGER   KIDNAPPING

[2588 rows x 3 columns]

## 5
Problem 5: What kind of crimes were recorded at schools?

In [7]:
# Read q5.sql
with open('./SQL/q5.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/5.csv', index=False)
print(df)

<ipython-input-7-8fed17307f84>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

                          Primary_Type                       Description  \
0                              BATTERY           DOMESTIC BATTERY SIMPLE
1                   DECEPTIVE PRACTICE                       BOGUS CHECK
2                    CRIMINAL TRESPASS                        TO VEHICLE
3                        OTHER OFFENSE                  TELEPHONE THREAT
4                    WEAPONS VIOLATION  UNLAWFUL POSSESSION - AMMUNITION
...                                ...                               ...
1350                         OBSCENITY                         OBSCENITY
1351                          GAMBLING                 BOOKMAKING/HORSES
1352  INTERFERENCE WITH PUBLIC OFFICER     INTERFERENCE JUDICIAL PROCESS
1353                          STALKING                     CYBERSTALKING
1354               MOTOR VEHICLE THEFT       ATT: TRUCK, BUS, MOTOR HOME

           Location_Description
0     SCHOOL, PRIVATE, BUILDING
1      SCHOOL, PRIVATE, GROUNDS
2      SCHOOL, PRIVATE, GROUNDS
3      SCHOOL - PUBLIC BUILDING
4      SCHOOL - PUBLIC BUILDING
...                         ...
1350    SCHOOL, PUBLIC, GROUNDS
1351   SCHOOL, PUBLIC, BUILDING
1352    SCHOOL - PUBLIC GROUNDS
1353  SCHOOL, PRIVATE, BUILDING
1354   SCHOOL, PRIVATE, GROUNDS

[1355 rows x 3 columns]

## 6
Problem 6: List the average safety score for all types of schools.

In [4]:
# Read q6.sql
with open('./SQL/q6.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_lab3)
df.to_csv('./assets/data/Output/6.csv', index=False)
print(df)

  School_Type  avg_safety_score
0          ES                49
1          HS                49
2          MS                48

<ipython-input-4-5b1772692310>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_lab3)

## 7
Problem 7: List 5 community areas with highest % of households below poverty line.

In [5]:
# Read q7.sql
with open('./SQL/q7.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/7.csv', index=False)
print(df)

   Community_Area_Number COMMUNITY_AREA_NAME  Households_Below_Poverty_Percent
0                     54           Riverdale                              56.5
1                     37         Fuller Park                              51.2
2                     68           Englewood                              46.6
3                     29      North Lawndale                              43.1
4                     27  East Garfield Park                              42.4

<ipython-input-5-6aefa7bd41aa>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

## 8
Problem 8: Which community area(number) is most crime prone?

In [7]:
# Read q8.sql
with open('./SQL/q8.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/8.csv', index=False)
print(df)

<ipython-input-7-0844a4b6b84c>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

   THE_MOST_CRIME_PRONE_AREA_NUMBER
0                                25

In [10]:
# population by community area
population = pd.read_csv('./assets/data/Cleaned/Cencus/population.csv')

with open('./SQL/q8_optimize.sql') as f:
    query = f.read()
count_crime_by_community_area = pd.read_sql(query,conn_assgmt1)

<ipython-input-10-b78375fc6e24>:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  count_crime_by_community_area = pd.read_sql(query,conn_assgmt1)

In [15]:
# join population and count_crime_by_community_area left on Community Area Number right on Community_Area
population = population.rename(columns={'Community Area Number':'Community_Area'})
df = pd.merge(population, count_crime_by_community_area, on='Community_Area', how='left')

# rate = count_crime/population
df['rate'] = df['Count']/df['population']/24

features = ['Community_Area','population','Count','rate']

df = df[features]
df.head()

   Community_Area  population   Count      rate
0               1       54991  115617  0.087603
1               2       71942   95976  0.055586
2               3       56362  109669  0.081075
3               4       39493   53493  0.056437
4               5       31867   43673  0.057103

In [18]:
# Sort by rate
df = df.sort_values(by='rate', ascending=False)

df.head().to_csv('./assets/data/Output/8_optimize.csv', index=False)
df.head()

    Community_Area  population   Count      rate
36              37        2876   24529  0.355369
25              26       18001  139708  0.323380
26              27       20567  138607  0.280804
39              40       11717   78417  0.278858
31              32       29283  186916  0.265962

## 9
Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [8]:
# Read q9.sql
with open('./SQL/q9.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/9.csv', index=False)
print(df)

  COMMUNITY_AREA_NAME
0           Riverdale

<ipython-input-8-6bbf03b7b1f5>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

## 10
Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [10]:
# Read q10.sql
with open('./SQL/q10.sql') as f:
    query = f.read()

df = pd.read_sql(query, conn_assgmt1)
df.to_csv('./assets/data/Output/10.csv', index=False)
print(df)

<ipython-input-10-c4ca813e8214>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn_assgmt1)

  COMMUNITY_AREA_NAME
0              Austin